body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1E2039;
  font-family: sans-serif;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-align: center;
  width: 300px;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #1E2039;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #FCA351;
  color: #111;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background: #1E2039;
  color: #FCA351;
}

#errorMsg {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}
